#content-area{
    width: 100%;
    overflow: hidden;
}

#filter{
    background:$grey;
    width:30%;
    display:inline-block;
    float:left;
    
    .inside{
        padding:20px;
max-width:300px;
    }
    h4{
        font-size:0.9rem;
        margin-bottom: 25px;
        font-weight:700;
        text-transform:uppercase;

    }

    select{
        background: transparent;
        padding:10px;
        font-size:14px;
        font-weight:500;
        color:#1b1b1b;
        display:block;
        margin-bottom:25px;
        width:100%;
      
    }
    .filter{
        .title{
            font-size:0.9rem;
            display:block;
            margin-bottom:1rem;
            color:$darkgrey;
        }
        input[type="text"]{

    
            width:45%;
            display:inline-block;
            margin-right:1rem;
            border-radius: 5px;
            font-size: 1rem;
            padding:0.4rem;
            margin-bottom:1rem;
    }
   &.extras{
       label{
           display:block;
           width:100%;
           padding:10px 0;
           input[type="checkbox"]{
               float:right;
           }
       }
   } 
}
}
   
#listings{
    width:70%;
    float:left;
    display:inline-block;
    background:$offwhite;
    .search-area{
       input[type=text]{
           width:70%;
           border:none;
           background:transparent;
           font-size:2rem;
           border-bottom:1px solid $darkgrey;
           margin-bottom:1.2rem;
           color:$lightgrey;
           font-weight:100;
       }
    }


    .sortby-area{
        margin-bottom:1.2rem;

        .result{
            font-size:0.8rem;
        color:$darkgrey;
        display:inline-block;
   
        }
       .sort-options{
           float:right;
           select{
               font-size:.9rem;
               font-weight:300;
               border:1px solid $lightgrey;
               background:transparent;
               padding:10px;
               display: inline-block;
               margin-right:15px;
               vertical-align: top;



           }
           .view{
               display:inline-block;
              
               .fas{
                   font-size:1.5rem;
                   margin-right:15px;
               }
           }
       }
    
    }


    .listings-result{
        margin-bottom:60px;
      
        .listing{
            border-radius:5px;
background:#fff;

-webkit-box-shadow:0 9px 54px -4px rgba(224,224,224,1);
-moz-box-shadow:0 9px 54px -4px rgba(224,224,224,1);
box-shadow: 0 9px 54px -4px rgba(224,224,224,1);

.listing-image{
    position:relative;
    color:#fff;
    padding:15px;
    background:url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/modern-house-2-1538579843.jpg") no-repeat center center ;
    -webkit-background-size:cover;
   -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height:200px;
    -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
 border-top-right-radius: 5px;

 &:hover
 .details{
     opacity:1;
     .address{
        opacity:0;
    }
 }

.address{
    font-size:1.3rem;
    text-transform:capitalize;
    opacity: 1;
    position: absolute;
    bottom:20px;
    transition:all 0.4s ease-in-out;
    text-shadow: 0px 1px 4px rgba(91, 91, 91, 1);
  

}
.details{
    opacity:0;
  padding:30px;
  transition:all 0.6s ease-in-out;
    background: rgba(85,47,237,0.8); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(85,47,237,.8) 0%, rgba(39,77,247,1) 62%, rgba(39,77,247,.8) 62%, rgba(41,137,216,8) 99%, rgba(125,185,232,.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(85,47,237,.8) 0%,rgba(39,77,247,.8) 62%,rgba(39,77,247,.8) 62%,rgba(41,137,216,1) 99%,rgba(125,185,232,.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(85,47,237,.8) 0%,rgba(39,77,247,.8) 62%,rgba(39,77,247,.8) 62%,rgba(41,137,216,.8) 99%,rgba(125,185,232,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .user-img{
    background:url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/modern-house-2-1538579843.jpg") no-repeat center center ;
    -webkit-background-size:cover;
   -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
  
      display:inline-block;
      width:50px;
      height:50px;
      border-radius:50%;
      border:2px solid #fff;
      position: relative;
    left: -28px;
  }
    .user-details{
     
        display:inline-block;
        vertical-align:top;
       
        .user-name{
            font-weight:300;
            font-size:0.9rem;
            color:rgba(255,255,255,1);
            display:block;
            margin-top:3px;
            margin-bottom: 5px;
            
        }
        }
  .post-date{
            display:block;
            font-size:0.9rem;
            color:rgba(255,255,255,0.7);
          
  
  
  
        }
 .listing-details{
     margin-top:20px;
     margin-bottom:10px;
   
     .floor-space{
         margin-bottom:10px;
         .fas{
            font-size:20px;
            display:inline-block;
            margin-right:15px;
              }

     }
     
    .bedrooms{
     .fas{
        font-size:20px;
        display:inline-block;
        margin-right:15px;
        cursor:pointer;
          }

      span{
          font-size:0.8rem;
        display:inline-block;
        vertical-align:top;
        position:relative;
        top:3px;


        }
      }

    }
   }
 }

}
.view-btn{
    background:black;
    padding:7px;
    font-size:0.9rem;
    text-align:center;
    border-radius:5px;
    max-width:150px;
    transition:background 0.3s ease-in-out;

    &:hover{
        background:$pink;
        cursor:pointer;
    }
   
}






}
.bottom-info{
    padding:20px 15px;

    .price{
  display:block;
        font-size:1.1rem;
        margin-bottom:10px;
        color:$darkgrey;
    }
    .location{
    color:$lightgrey;
font-size:1.2rem;
display:block;
    }
}
#pagination{
    text-align:center;
    display:inline-block;
    width:100%;

    
   .pages{
       display:inline-block;
       background:#ffffff;
    -webkit-box-shadow:0 9px 54px -4px rgba(224,224,224,1);
    -moz-box-shadow:0 9px 54px -4px rgba(224,224,224,1);
    box-shadow: 0 9px 54px -4px rgba(224,224,224,1);
    
   li{
       display:inline-block;
       padding:20px 30px;
       &:hover{
        background:$pink;
        font-weight:700;
        color:white;
      cursor: pointer;
          
       }
       &.active{
           background:$pink;
           font-weight:700;
           color:white;
           cursor: pointer;

       }
   }
   }
}
}



    
 
        
    
       
